<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/user-profile.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <title>iReport</title>
</head>

<body>
    <div class="main-content">
        <div class="navbar">
            <div class="responsiveNav" id="topNav">
                <ul>
                    <li id="menuIcon"><i class="fas fa-bars"></i></li>
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="user-dashboard.html">My Dashboard</a></li>
                    <li id="logo">iReporter</li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="center-content">
                <div class="records">
                    <div class="records-heading">
                        <i class="fas fa-chart-bar fa-2x"></i>
                        <h2>Your Stats</h1>
                    </div>
                    <div class="stat-content">
                        <div class="stat-content-center">
                            <div class="stories stat">
                                <i class="fas fa-tasks fa-2x"></i>
                                <h6>Incident Reports</h6>
                                <p id="round">6700</p>
                            </div>
                            <div class="members stat">
                                <i class="fas fa-bell-slash fa-2x"></i>
                                <h6>Under Investigation</h6>
                                <p id="round">410</p>
                            </div>
                            <div class="resolved stat">
                                <i class="fas fa-check-double fa-2x"></i>
                                <h6>Solved Incidents</h6>
                                <p id="round">2690</p>
                            </div>
                            <div class="rejected stat">
                                <i class="fas fa-times-circle fa-2x"></i>
                                <h6>Rejected Incidents</h6>
                                <p id="round">1001</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer-right"><span>&copy;</span>pndungu@gmail.com</div>
            <footer class="footer-center">
                <p id="time">time</p>
            </footer>
            <div class="footer-left">iReport</div>
        </div>
    </div>
    <script src="../js/index.js"></script>
    <script src="../js/map.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2SHXbYQmmCGPCurFIrtl7-io0mOTsX3k&callback=initMap">
    </script>
</body>

</html>