.top-bar {
    text-align: center;
    border-bottom: solid 0.05em;
    border-color: #E0E0E0;
    height: 50px;
    color: white;
}

.top-bar p {
    line-height: 50px;
}

#logo {
    background: black;
    color: white;
}

h4,
h5,
h6 {
    font-size: 120%;
}

#menuIcon {
    display: none;
}

.container {
    background-color: #010203;
}

.message {
    font-size: 130%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "left-message center-message right-message";
}

.left-message {
    grid-area: left-message;
    text-align: center;
}

.center-message {
    grid-area: center-message;
    text-align: center;
}

.right-message {
    grid-area: right-message;
    text-align: center;
}

.welcome-head {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    font-size: 120%;
    font-weight: bold;
}

.stats {
    margin-top: 100px;
}

.stats-heading {
    text-align: center;
    font-size: 150%;
    color: green;
}

.stat-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "stat-content-center";
}

.stat-content-center {
    grid-area: stat-content-center;
    text-align: justify;
    display: grid;
    grid-template-columns: 20% 1fr 1fr 1fr 1fr 20%;
    grid-template-rows: 1fr;
    grid-template-areas: ". members stories resolved rejected ."
}

.stat {
    grid-area: members;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.stat i,
h6,
p {
    margin-bottom: 10px;
}

.stat p {
    text-align: center;
}

.stories {
    grid-area: stories;
}

.resolved {
    grid-area: resolved;
}

.rejected {
    grid-area: rejected;
}

#round {
    border: solid red;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border-style: dotted;
}

.stat-content-center p {
    line-height: 50px;
}

@media screen and (max-width: 600px) {
    .top-bar {
        display: none;
    }
    .message {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "left-message" "center-message" "right-message";
    }

    .stat-content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "stat-content-center";
    }

    .stat-content-center {
        opacity: 1;
        padding-top: 0 !important;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "members" "stories" "resolved" "rejected";
    }
    .welcome {
        margin-bottom: 0 !important;
    }
}