#map {
    flex-direction: column;
}

#save {
    background: green;
}
.record {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 10px;
    background-color: #010203;
    opacity: 0.8;
    font-size: 115%;
    width: 60%;
}

.input-row {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-row .long,
.lat {
    width: 100%;
}

.fas {
    color: red;
}

.btn {
    text-align: center;
}


.select-box {
    width: 100%;
}

select {
    width: 100%;
    padding: 20px 0 20px 0;
    font-size: 105%;
}

textarea {
    width: 100%;
    resize: none;
}

.lat,
.long {
    display: flex;
}

label {
    width: 20%;
    text-align: left;
}

.long {
    margin-right: 5px;
}

.record-heading {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.record-heading .fas {
    margin-right: 10px;
}

.fas {
    color: red;
}

@media screen and (max-width: 600px) {
    .card {
        width: 100%;
    }

    .center-content {
        border-radius: 0px;
        margin: 0;
    }
}