#map {
    flex-direction: column;
}

#save {
    background: green;
}
.center-content {
    text-align: center;
    opacity: 0.9;
    grid-area: center-content;
    margin: 50px 0 50px 0;
    border-radius: 10px;
    font-size: 125%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.record {
    width: 60%;
    background-color: #010203;
}
.fas {
    color: red;
}

.input-row {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-row .long, .lat {
    width: 100%;
}


.select-box {
    width: 100%;
}
select {
    width: 100%;
    padding: 20px 0 20px 0;
    font-size: 105%;
}

textarea{
    width: 100%;
    resize: none;
}

.lat, .long {
    display: flex;
}

label {
    margin-right: 10px;
}

.long {
    margin-right: 5px;
}

.record-heading {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.record-heading .fas {
    margin-right: 10px;
}



@media screen and (max-width: 600px) {
    .center-content {
        border-radius: 0px;
        margin: 0;
    }
    .record {
        width: 100%;
    }
}